.boost {
    width: 100%;
    background: #3b3054;
    position: relative;
    height: 30vh;
    .boost-bg {
        width: 100%;
        height: 30vh;
    }
    .boost-info {
        width: 100%;
        @include flexDisplay(column, 1rem, center, center);
        position: absolute;
        z-index: 5;
        top: 5vh;

        h1 {
            color: white;
        }
        .boost-btn {
            width: 10%;
            height: 2rem;
        }
    }
}
