.btn {
    background-color: $cyan;
    border: none;
    border-radius: 15px;
    height: 2rem;
    color: white;
    font-weight: bolder;
}
.signup-btn {
    @media (max-width: 799px) {
        width: 100%;
    }
    @media (min-width: 800px) {
        width: 5rem;
    }
}
.header-btn {
    @media (max-width: 799px) {
        width: 75%;
        height: 3rem;
        font-size: 1.5rem;
        border-radius: 25px;
    }
}
.form-btn {
    @media (max-width: 799px) {
        width: 90%;
        height: 3rem;
        font-size: 1.5rem;
        border-radius: 10px;
    }
}

.btn-copy {
    @media (max-width: 799px) {
        width: 90%;
        height: 3rem;
        font-size: 1.5rem;
    }
}

.boost-btn {
    @media (max-width: 799px) {
        width: 50%;
        height: 3rem;
        font-weight: bolder;
        font-size: 1rem;
        border-radius: 25px;
    }
}
