.btn {
    background-color: $cyan;
    border: none;
    border-radius: 15px;
    height: 2rem;
    color: white;
    font-weight: bolder;
}
.signup-btn {
    font-size: 1.5rem;
    @media (max-width: 799px) {
        width: 80%;
        height: 3rem;
    }
    @media (min-width: 800px) {
        width: 10rem;
        height: 3rem;
        border-radius: 25px;
    }
}
.header-btn {
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 25px;
    @media (max-width: 799px) {
        width: 75%;
    }
    @media (min-width: 800px) {
        width: 25%;
    }
}
.form-btn {
    @media (max-width: 799px) {
        width: 90%;
        height: 3rem;
        font-size: 1.5rem;
        border-radius: 10px;
    }
    @media (min-width: 800px) {
        height: 3rem;
        width: 10rem;
        font-size: 1.5rem;
        border-radius: 10px;
    }
}

.btn-copy {
    @media (max-width: 799px) {
        width: 90%;
        height: 3rem;
        font-size: 1.5rem;
    }
    @media (min-width: 800px) {
        width: 50%;
        height: 3rem;
        font-size: 1.5rem;
    }
}

.boost-btn {
    @media (max-width: 799px) {
        width: 50%;
        height: 3rem;
        font-weight: bolder;
        font-size: 1rem;
        border-radius: 25px;
    }
    @media (min-width: 800px) {
        width: 10%;
        height: 3rem;
        font-weight: bolder;
        font-size: 1rem;
        border-radius: 25px;
    }
}
