.footer {
    background-color: $darker-violet;
    @include flexDisplay(column, 1rem, center, center);
    padding-top: 5rem;
    padding-bottom: 5rem;
    .footer-sitebar,
    .footer-socials {
        width: 100%;
    }
    .footer-sitebar {
        color: white;
        h3 {
            text-align: center;
            font-weight: bolder;
        }
        div {
            @media (max-width: 799px) {
                @include flexDisplay(column, 5px, center, center);
                div {
                    color: $gray;
                }
            }
        }
    }
    .footer-socials {
        @include flexDisplay(row, 1rem, center, center);
        color: white;
    }
}
