.header {
    width: 90%;
    margin: auto;
    @media (min-width: 800px) {
        @include flexDisplay(row, 1vw, flex-start, center);
        margin-top: 5%;
    }

    @media (max-width: 799px) {
        @include flexDisplay(column-reverse, 1vh, center, center);
    }

    .header-intro,
    .header-img {
        @media (max-width: 799px) {
            width: 100%;
        }
    }
    .header-intro {
        @media (max-width: 799px) {
            @include flexDisplay(column, 1rem, center, center);
        }
        .intro-title {
            @media (max-width: 799px) {
                text-align: center;
                font-size: 3rem;
                margin-bottom: unset;
            }
        }
        .intro-content {
            @media (max-width: 799px) {
                text-align: center;
                font-size: 1rem;
            }
        }
    }
    .header-img {
        img {
            @media (max-width: 799px) {
                width: 100%;
            }
        }
    }
}
