@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import "./variables.scss";
@import "./mixin.scss";
@import "./navbar.scss";
@import "./header.scss";
@import "./shorten.scss";
@import "./statistics.scss";
@import "./footer.scss";
@import "./buttons.scss";
@import "./boost.scss";

body {
    margin: unset;
    padding: unset;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}
#root {
    @include flexDisplay(column, 1rem, center, center);
}
