.navbar {
    @media (min-width: 800px) {
        @include flexDisplay(row, 1.5rem, flex-start, center);
    }

    @media (max-width: 799px) {
        @include flexDisplay(column, 1rem, center, center);
    }
    width: 100%;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-menu {
        @media (min-width: 800px) {
            @include flexDisplay(row, 1rem, flex-start, center);
        }
        @media (max-width: 799px) {
            @include flexDisplay(column, 1rem, center, flex-start);
        }
        width: 60%;
        a {
            text-decoration: none;
            p {
                color: $gray;
                font-weight: 500;
            }
        }
    }
    .nav-btns {
        @media (min-width: 800px) {
            @include flexDisplay(row, 1rem, center, center);
        }
        @media (max-width: 799px) {
            @include flexDisplay(column, 1rem, center, flex-start);
            width: 100%;
        }
        .login-btn {
            background: none;
            border: none;
            color: $gray;
        }
        .signup-btn {
            @media (max-width: 799px) {
                width: 100%;
            }
            @media (min-width: 800px) {
                width: 7vw;
            }
        }
    }
}
