.navbar {
    @include flexDisplay(row, 1vw, flex-start, center);
    height: 3rem;
    background-color: white;
    @media (max-width: 799px) {
        @include flexDisplay(row, 0, space-between, center);
    }
    width: 90%;
    margin: auto;
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav {
        @media (min-width: 800px) {
            @include flexDisplay(row, "", space-between, center);
            width: 80%;
        }

        @media (max-width: 799px) {
            display: none;
        }
        .nav-menu {
            @media (min-width: 800px) {
                width: 70%;
                @include flexDisplay(row, 1rem, flex-start, center);
            }

            @media (max-width: 799px) {
                @include flexDisplay(column, 1rem, center, center);
                width: 100%;
            }
        }
        .nav-btns {
            @media (min-width: 800px) {
                width: 30%;
                @include flexDisplay(row, 1rem, center, center);
            }
        }
    }
    .responsive-btn {
        @media (min-width: 800px) {
            display: none;
        }
        @media (max-width: 799px) {
            display: flex;
        }
    }
}
