.result-list {
    width: 100%;
    @include flexDisplay(column, 10px, space-evenly, center);
}

.result-item {
    background-color: white;
    border-radius: 10px;
    @media (max-width: 799px) {
        @include flexDisplay(column, 0, space-evenly, center);
        padding-bottom: 1rem;
        width: 95%;
    }
    @media (min-width: 800px) {
        @include flexDisplay(row, 0, space-between, center);
        width: 80%;
    }
}
.original-link,
.shorten-link {
    @media (max-width: 799px) {
        width: 100%;
    }
}
.original-link {
    @media (max-width: 799px) {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $gray;
    }
    @media (min-width: 800px) {
        margin-left: 3rem;
        font-size: 1.5rem;
    }
}
.shorten-link {
    color: $cyan;
    font-size: 1.5rem;
    @media (max-width: 799px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media (min-width: 800px) {
        @include flexDisplay(row, 1rem, space-evenly, center);
        padding-right: 1rem;
        width: 30%;
    }
}
