.stt-block {
    background-color: $gray;
    position: relative;
    margin-top: 45%;
    padding-top: 35%;
    .input-link {
        position: absolute;
        @media (max-width: 799px) {
            width: 100%;
            top: -80px;
            left: 5%;
        }
    }

    .statistics {
        @media (max-width: 799px) {
            @include flexDisplay(column, 100px, center, center);
        }
        padding-bottom: 5rem;
        .stt-items {
            @media (max-width: 799px) {
                @include flexDisplay(column, 0, space-evenly, center);
            }
            background-color: white;
            width: 95%;
            height: 30vh;
            @media screen and (max-width: 375px) {
                height: 50vh;
            }
            border-radius: 15px;
            position: relative;

            .item-logos {
                background-color: $dark-violet;
                position: absolute;
                @media only screen and (min-width: 376px) and (max-width: 799px) {
                    width: 100px;
                    height: 100px;
                    top: -45px;
                }
                @media only screen and (max-width: 375px) {
                    width: 70px;
                    height: 70px;
                    top: -45px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                img {
                    width: 60%;
                }
            }

            .item-info {
                @include flexDisplay(column, 0, flex-start, center);
                @media screen and (max-width: 375px) {
                    margin-top: 2vw;
                }
                p {
                    width: 70%;
                    text-align: center;
                }
            }
        }
        #detailed-records::after,
        #brand-recognition::after {
            content: "";
            position: absolute;
            @media (max-width: 799px) {
                width: 10px;
                height: 60px;
                bottom: -60px;
                background-color: $cyan;
            }
        }
    }
}
